# =========================
# DJANGO CORE
# =========================
DJANGO_SECRET_KEY=replace_me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# =========================
# DATABASE (PostgreSQL)
# =========================
DB_ENGINE=django.db.backends.postgresql
DB_NAME=employee_mgmt_db
DB_USER=postgres
DB_PASSWORD=replace_me
DB_HOST=localhost
DB_PORT=5432

# =========================
# EMAIL (SMTP)
# =========================
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=hr@example.com
EMAIL_HOST_PASSWORD=replace_me
DEFAULT_FROM_EMAIL=Alienhouse HR <hr@example.com>

# =========================
# FRONTEND
# =========================
FRONTEND_URL=https://portal.example.com

# =========================
# CELERY / REDIS
# =========================
CELERY_BROKER_URL=redis://:replace_me@127.0.0.1:6379/0
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json

# =========================
# AUTH / SESSION
# =========================
LOGIN_URL=/accounts/login/
LOGIN_REDIRECT_URL=/dashboard/
LOGOUT_REDIRECT_URL=/accounts/login/
SESSION_COOKIE_AGE=2592000
SESSION_EXPIRE_AT_BROWSER_CLOSE=False
SESSION_SAVE_EVERY_REQUEST=True
